body {
    background-color: rgb(255, 123, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1200px;
    margin: auto;
}

header#principal {
    text-align: center;
    font-size: 50px;
    color: white;
    transition: transform 1s ease;
    animation: opacity 5s ease;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    width: 100%;
}

article {
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 50px;
    transform: scale(1);
    transition: transform 1s ease;
    animation: opacity 5s ease;
}

article:hover {
    transform: scale(1.1);
}

article.item2 {
    margin-top: -30px;
}

.item2 > section.article {
    height: 240px;
}

header.item {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.item2 > header {
    height: 350px;
}
.item2 > header > h2 {
    font-size: 25px;
}

section.article {
    background-color: rgb(66, 9, 158);
    height: 40%;
    padding: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 12px;
    color: rgba(245, 245, 245, 0.705);
}

img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

div {
    font-size: 37px;
}

i {
    color: rgb(70, 70, 70);
    margin-left: 5px;
}

#icons2 {
    font-size: 45px;
}

.item2 > header > img {
    width: 135px;
}

@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
