
.lista :last-child  {
    background-color: rgb(0, 51, 206);
}

.lista :nth-child(odd) {
    text-decoration-line: underline;
    text-decoration-color: green;
}
.lista>li{
    display:inline;
    margin: 10px;
}
.lista>li:nth-child(1)::after{
    content: "😀";
}
.lista>li:nth-child(2)::after{
    content: "🏳️‍🌈";
}
.lista>li:nth-child(3)::after{
    content: "⛰️";
}
.lista>li:nth-child(4)::after{
    content: "🍌";
}
.lista>li:nth-child(5)::after{
    content: "🏌️";
}
.lista>li:nth-child(6)::after{
    content: "🏊‍♂️";
}

li[lang="en"] {
    text-transform: uppercase;
    font-size: 200%;
}