@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0 auto;
    align-content: center;
    max-width: 150vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 40px;
    background-color: black;
    color: white;
}
header>p {
    margin-bottom: 30px;
}

h1 {
    font-size: 50px;
    margin: 0%;
}

h2 {
    font-size: 40px;
    font-weight: lighter;
    margin: 0%;
}
h3 {
    font-size: 30px;
    color: rgb(82, 82, 82);
    border-bottom: 1px solid gray;
}

img {
    width: 40%;
    float: right;
}

main {
    margin: auto;
    max-width: 600px;
    padding: 30px;
}

#formulario {
    width: 100%;
}

label {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
input{
    width: 100%;
    background-color: rgb(82, 82, 82);
    border: none;
    margin-top: 5px;
    margin-bottom: 12px;
}
#nome{
    height: 30px;
}
#direccion {
    height: 30px;
}
#comentarios {
    height: 110px;
}

button {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    header {
        text-align: center;
    }
    img {
        float: initial;
        width: 100%;
    }
}