body {
    display: flex;
    justify-content: center;
}
form {
    max-width: 800px;
    min-width: 400px;
}

input:required {
    border-color: red;
}

fieldset {
    background-color: rgb(190, 190, 190);
    padding: 1rem;
    border-bottom: solid 5px black;
}

fieldset:hover {
    background-color: rgb(165, 165, 165);
}

button {
    background-color: black;
    color: white;
    border: none;
}

